{% extends "manufacturer/makerindex.html" %}
{% block content %}

<style>
    .modal-body input{
        width: 90%;
        padding: 6px;
        border: .5px solid rgb(61, 61, 61);
    }
</style>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<div class="text-center mt-5">
<a href="" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-dark">Add Medicine</a>
</div>
  
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content text-center">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Medicine</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %}

{% for fields in form  %}
  {{fields.label}}: <br>
  {{fields}} <br><br>
{% endfor %}
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </form>
        </div>
      </div>
    </div>
  </div>

{% for message in messages %}
<h6 style="color:red;text-align:center">{{message}}</h6>
  
{% endfor %}
<div class="container mt-5">
    <table class="table">
        <tr>
            <th>Drug Name</th>
            <th>Expairy Date</th>
            <th>Price</th>
            <th>Dealer Price</th>
            <th>Action</th>
            <th>Delete</th>
        </tr>
        {% for med in medi  %}
          
        <tr>
            <td>{{med.name}}</td>
            <td>{{med.expiry_date}}</td>
            <td>{{med.MRP}}</td>
            <td>{{med.distributer_price}}</td>
            <td><a href="{%url 'MedicineValidate' med.id %}" class="btn btn-outline-light btn-sm" >Validate</a></td>
            <td><a href="{%url 'Deletemed' med.id %}" class="btn btn-outline-danger btn-sm" >delete</a></td>

        </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}