{% extends "index.html" %}
{% block content %}

<style>
    .itemcontainer {
        width: 80%;
        height: auto;
        margin: auto;
        border: .6px solid black;
        padding: 30px;
        background-color: white;
    }
    .info{
        color:red
    }
    .success{
        color: green;
    }
</style>

<div class="contanier mt-5 mb-5">
    <div class="itemcontainer">
        {% for message in messages %}
       <h6 style="color:rgb(0, 255, 102);text-align:center">{{message}}</h6> 
        {% endfor %}
        <h2>User Profile</h2>

        <table class="table table-striped mt-5">
            <tr>
                <th>Name</th>
                <td>{{user.user.first_name}} {{user.user.last_name}}</td>
            </tr>
            <form method="post">
                {% csrf_token %}
            <tr>
                <th>Phone:</th>
                <td><input type="number" class="form-control border-0" required value="{{user.phone}}" name="phone" ></td>
            </tr>
            <tr>
                <th>House:</th>
                <td><input type="text" class="form-control border-0" required value="{{user.house}}" name="house" ></td>
                
            </tr>
            <tr>
                <th>City</th>
                <td><input type="text" class="form-control border-0" required value="{{user.city}}" name="city"></td>

            </tr>
            <tr>
                <th>District</th>
                <td><input type="text" class="form-control border-0" required value="{{user.district}}" name="district" ></td>

            </tr>
            <tr>
                <th>State</th>
                <td><input type="text" class="form-control border-0" required value="{{user.state}}" name="state" ></td>

            </tr>
<tr>
    <th></th>
    <th><button type="submit" class="btn btn-info">Update</button></th>
</tr>
        </form>
        </table>
    </div>
</div>

{% endblock %}